<div style="margin-bottom: 20px">
<h1>Name: {{score.name}}</h1>
<h1>Score: {{score.total}} </h1>
<h1>Question: {{score.count}} </h1>

<h2>Possible answers:</h2>
{{#each model.Choices as |answer|}}
  <button {{action 'givenAnswer' answer.Code}}>{{answer.Name_nl}}</button>
{{/each}}
</div>
{{#country-map cntry = model.Answer }}
{{/country-map}}
