<div style="margin-right: 20px">
  <button {{action "resetGameWarning"}}>Reset game</button>
  {{#if isShowingModalGameReset}}
    {{#modal-dialog targetAttachment="center"
                    translucentOverlay=true}}
      <p>Do you really want to reset the game?</p>      
      <button {{action "doResetGame"}}>Yes</button>
      <button {{action "cancelResetGame"}}>No</button>
    {{/modal-dialog}}
  {{/if}}
  {{#if isShowingModalGameEnd}}
    {{#modal-dialog targetAttachment="center"
                    translucentOverlay=true}}
      {{#if isGameOver}}
        <p style='color:red'>Game over, you have made 3 mistakes.</p>
      {{else}}
        <p style='color:green'>Congratulations! You have reached the end of the game.</p>
      {{/if}}                      
      
      <p>Score: {{score.total}}</p>      
      <button {{action "doEndGame"}}>OK</button>
    {{/modal-dialog}}
  {{/if}}  
</div>
<div style="margin-bottom: 20px">
<h1>Name: {{score.name}}</h1>
<h1>Score: {{score.total}} </h1>
<h1>Question: {{score.count}} </h1>
<h1>Wrong answers: {{score.mistakes}}</h1>
<h1>Level: {{levelDescription}}</h1>
<h1>Bonus: {{bonus}}</h1> 

<h2>Possible answers:</h2>
{{#each model.choices as |answer|}}
  <button {{action 'givenAnswer' answer.code}}>{{answer.name_nl}}</button>
{{/each}}
</div>
<div class="c-notification__container">
  {{#each notifications as |notification|}}
    {{notification-message notification=notification}}
  {{/each}}
</div>
<div style="margin-top: 20px">
{{#country-map cntry=model.answer }}
{{/country-map}}
</div>
